try
to
findme
# https://github.com/search?q=repo%3Ausmonster%2Fgitignore-issue-2861654+path%3A.gitignore&type=code
# https://github.com/search?q=repo%3Ausmonster%2Fgitignore-issue-2861654%20findme&type=code
